<!DOCTYPE html>
<html>

<head>
    <title>Quotes</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'index' %}">Quotes</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'add_author' %}">Add Author</a></li>
                <li><a href="{% url 'add_quote' %}">Add Quote</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>